.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #f0f2f5;
}
.content-wrapper {
    flex: auto;
    padding: 12px 0;
    overflow: scroll;
}
.content {
    margin: 0 24px;
    display: flex;
    height: 100%;
    .left {
        width: 305px;
        padding: 0 12px;
        background-color: #fff;
        overflow: scroll;
    }
    .main {
        flex: 1;
        position: relative;
        overflow: hidden;
        .canvas-wrapper {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            width: 400px;
            height: 612px;
            background-color: #fff;
            overflow: auto;
            box-shadow: 0px 2px 10px #0000001f;
        }
    }
    .right {
        width: 300px;
        padding: 12px 0;
        background-color: #fff;
        overflow: scroll;
    }
}